@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.App {
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  height: 100%;
}

.App * {
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 10vh;
  background: rgb(32, 64, 81);
  background: linear-gradient(
    to right,
    #3b6978 0%,
    #204051,
    #204051,
    #204051,
    #3b6978
  );
}
.meet-logo {
  display: block;
  margin: auto;
  height: 100%;
  width: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #204051;
}

.welcome-message {
  color: #204051;
  text-align: center;
  margin-top: 1.5rem;
  font-size: 1.4rem;
  font-weight: #204051;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

.display-none {
  display: none;
}
.showSuggestions {
  display: block;
}

input[type='text'],
input[type='number'] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  border: 5px solid black;
}

.input-boxes {
  padding-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*.input-boxes {
  border: 2px solid black;
  background-color: lightblue;
  margin: auto;
  margin-bottom: 20px;
  width: 90%;
}*/

.city {
  width: 250px;
}

.CitySearch {
  display: flex;
  flex-direction: column;
  flex-basis: 200px;
  max-width: 300px;
  margin: auto;
  margin-top: 0px;
  position: relative;
}

.suggestions {
  width: 250px;
  /*position: absolute;*/
  position: sticky;
  z-index: 2;
  align-self: center;
  margin: 0;
  top: 43px;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: #bcdcdb;
}

.EventList {
  display: grid;
  list-style: none;
  grid-template-columns: 1fr;
  margin: auto;
  padding: 20px;
  justify-content: space-evenly;
  grid-gap: 20px;
  width: 90%;
}

.event {
  padding: 10px 10px 35px;
  margin: auto;
  margin-bottom: 10px;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  background-color: lightblue;
  border: 5px solid black;
  width: 90%;
}

.details-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px 8px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  margin-top: 20px;
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.group-name {
  text-transform: uppercase;
  font-size: 14px;
}

.going,
.visibility {
  font-style: italic;
}

.description {
  overflow-x: hidden;
}

.numberOfEvents {
  width: 200px;
  margin-bottom: 30px;
  margin-top: 0px;
  text-align: center;
  position: sticky;
}

.button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  font-family: sans-serif;
}

.Alert {
  position: inherit;
  top: 0px;
}

.data-vis-container {
  border: 2px dashed black;
  margin: auto;
  width: 90%;
  background-color: lightblue;
  padding-bottom: 20px;
}
.data-vis-title {
  text-align: center;
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 5px;
}

.data-vis-wrapper {
  display: flex;

  flex-direction: column;
  margin: auto;
  width: 90%;
  background-color: white;
}
.data-vis-wrapper .recharts-responsive-container {
  min-width: 100%;
  display: flex;
  margin: auto;
  overflow: auto;
}
/*.recharts-surface {
  overflow: auto;
}*/

.login-button {
  color: #494949;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #494949;
  display: inline-block;
  transition: all 0.4s ease 0s;
  min-width: 10rem;
  margin: 1rem;
}

@media only screen and (min-width: 483px) and (max-width: 724px) {
  .EventList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 992px) {
  .EventList {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
  }

  .data-vis-wrapper {
    flex-direction: row;
  }
  .data-vis-wrapper .recharts-responsive-container {
    flex-basis: 50%;
    max-width: 50%;
    min-width: auto;
    margin: 0 auto;
  }
}
